.field-username-wrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username-wrapper {
  display: flex;
  flex-direction: column;
  width: 48%;
}