.search-bar-wrapper {
  display: flex;
}

.input-group {
  width: 100%;
}

.search-icon-wrapper {
  display: flex;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-right: 0;
  border-radius: 0.75rem 0 0 0.75rem;
  padding: 1rem;
  justify-content: center;
  min-width: 3.125rem;
}

.search-input {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-left: 0;
  border-radius: 0 0.75rem 0.75rem 0;
  padding-left: 0;
  margin-left: -1px;
  height: 3.2rem;
}