.card-coin-nav-wrapper {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 1.25rem;
  box-shadow: 0 0.3125rem 0.3125rem 0 rgb(82 63 105 / 5%);
  height: calc(100% - 30px);
  margin-bottom: 1.5rem;
}

.coin-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 25px 15px;
  border-radius: 1.25rem;
}

.coin-icon {
  margin-right: 12px;
}

.nav-link-item {
  border-right: 0.0625rem solid #d7d7d7;
  padding: 0 10px;
}
