.right-sidebar-wrapper {
  background: #fff;
  border-radius: 1.875rem 0 0 1.875rem;
  bottom: 1.25rem;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1.5625rem 0.75rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 5.313rem;
}

.language-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-profile-icon {
  border: 3px solid var(--primary);
  border-radius: 0.938rem;
}

.language-dropdown-title {
  color: #000;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
}
