.market-icon {
  border-radius: 50%;
  height: 30px;
  text-align: center;
  width: 30px;
}

.top-card-title {
  font-size: 1rem!important;
}

.crypto-name {
  color: #374557;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.9rem!important;
}