.price-content-wrapper {
  display: flex;
  flex-direction: row;
}

.price-content-item {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.price-content-label {
  font-size: 1rem;
  line-height: 1.5;
}

.price-content-value {
  font-weight: 600;
  font-size: 1.2rem;
}