.crypto-list {
  font-family: poppins,sans-serif!important;
  font-weight: 400!important;
  font-size: 0.7rem;
}

.card {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 1.25rem;
  height: calc(100% - 30px);
  margin-bottom: 1.875rem;
  position: relative;
  transition: all .5s ease-in-out;
  word-wrap: break-word;
  background-clip: initial;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: none !important;
}

.card-body {
  padding: 10px 15px !important;
}

.heading {
  font-size: 1rem;
}