.coin-details-coin-icon {
  width: 125px;
}

.coin-details-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-details-info-title {
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.coin-details-info-subtitle {
  color: #000;
  font-weight: 600;
}

.coin-details-info-price {
  display: flex;
  justify-content: center;
  color: #a098ae;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  margin: 1.5rem 0;
  width: 100%;
}

.coin-details-info-text {
  padding-top: 1.5rem;
  border-top: 0.0625rem solid #eee;
  color: #1d1b23;
  line-height: 1.5;
  font-size: 0.9rem;
}
