.heart-blast {
  background-position: -105rem 0 !important;
  transition: background 1s steps(28); }

.heart {
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  background: url("../../../../assets/images/icons/like.png");
  cursor: pointer;
  margin: -1.5625rem -0.9375rem;
}